<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="{% url 'blog:home_page' %}">Filmsopia</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="{% url 'blog:home_page' %}">Home</a></li>
            <li><a href="{% url 'blog:post_list' %}">Posts</a></li>
            
            {% if user.is_authenticated %}
                <li><a href="{% url 'blog:user_profile' user.username %}" class="user-greeting"><i class="fas fa-user"></i> {{ user.username }}</a></li>
                <li><a href="{% url 'blog:logout' %}" class="logout-btn"><i class="fas fa-sign-out-alt"></i> Çıxış</a></li>
            {% else %}
                <li><a href="{% url 'blog:login' %}" class="login-link"><i class="fas fa-sign-in-alt"></i> Daxil ol</a></li>
                <li><a href="{% url 'blog:register' %}" class="register-link"><i class="fas fa-user-plus"></i> Qeydiyyat</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
</html>