{% static %}<!DOCTYPE html>
<html lang="az">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Səhifəsi</title>
        
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div>
            <h1>salam</h1
            {%if posts%}>
            <div>
                {%for post in posts %}
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>